<a href="https://colab.research.google.com/github/garg1709/Hamoye-Data-Science-Internship/blob/main/ML%20Regression%20Predicting%20Energy%20Efficieny%20of%20Buildings/%20Predicting_Energy_Efficiency_of_Buildings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
url = 'https://raw.githubusercontent.com/garg1709/Hamoye-Data-Science-Internship/main/ML%20Regression%20Predicting%20Energy%20Efficieny%20of%20Buildings/energydata_complete.csv'
df = pd.read_csv(url, sep=',')

In [32]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [33]:
df.shape

(19735, 29)

In [34]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [35]:
df.skew()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Appliances     3.386367
lights         2.195155
T1             0.120917
RH_1           0.465774
T2             0.889658
RH_2          -0.268247
T3             0.450777
RH_3           0.467589
T4             0.170384
RH_4           0.444614
T5             0.558220
RH_5           1.866820
T6             0.597471
RH_6          -0.241961
T7             0.254722
RH_7           0.242141
T8            -0.256151
RH_8           0.308036
T9             0.382711
RH_9           0.368937
T_out          0.534273
Press_mm_hg   -0.420442
RH_out        -0.922997
Windspeed      0.859982
Visibility     0.441554
Tdewpoint      0.239374
rv1            0.004945
rv2            0.004945
dtype: float64

In [36]:
# Q.12

X = df['T2']
y = df['T6']

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

X = X.values.reshape(-1,1)
y = y.values.reshape(-1,1)

lr.fit(X,y)

LinearRegression()

In [37]:
pred1 = lr.predict(X)

In [38]:
from sklearn.metrics import r2_score
round(r2_score(y,pred1),2)

0.64

In [39]:
# Q.13

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1 = df.drop(['date','lights'], axis=1)
df2 = pd.DataFrame(scaler.fit_transform(df1), columns = df.drop(['date','lights'], axis=1).columns)

In [40]:
df2.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [41]:
X = df2.drop(['Appliances'], axis=1)
y = df2[['Appliances']]

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.3, random_state=42)

In [43]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [44]:
pred2 = lr.predict(X_test)

In [45]:
# Q.13

from sklearn.metrics import mean_absolute_error
round(mean_absolute_error(y_test,pred2),2)

0.05

In [58]:
# Q.14

print('Residual sum of squares is : '+ str(round(np.sum(np.square(pred2 - y_test)),2)))

Residual sum of squares is : Appliances    45.35
dtype: float64

In [47]:
# Q.15

import math
from sklearn.metrics import mean_squared_error
round(math.sqrt(mean_squared_error(y_test,pred2)),3)

0.088

In [48]:
# Q.16

from sklearn.metrics import r2_score
round(r2_score(y_test,pred2),2)

0.15

In [49]:
df3 = pd.DataFrame(lr.coef_, columns = X.columns)

In [70]:
# Q.17

df3.sort_values(by=0, ascending=False, axis=1)

,RH_1,T3,T6,Tdewpoint,T8,RH_3,RH_6,Windspeed,T4,RH_4,...,T1,T5,RH_9,RH_7,RH_out,RH_8,T9,T2,T_out,RH_2
0,0.553547,0.290627,0.236425,0.117758,0.101995,0.096048,0.038049,0.029183,0.028981,0.026386,...,-0.003281,-0.015657,-0.0398,-0.044614,-0.077671,-0.157595,-0.189941,-0.236178,-0.32186,-0.456698

In [51]:
# Q.18

from sklearn.linear_model import Ridge
r = Ridge(alpha=0.4)
r.fit(X_train, y_train)

Ridge(alpha=0.4)

In [52]:
pred3 = r.predict(X_test)

In [53]:
round(math.sqrt(mean_squared_error(y_test,pred3)),3)

0.088

In [54]:
# Q.19

from sklearn.linear_model import Lasso
r1 = Lasso(alpha=0.001)
r1.fit(X_train, y_train)

Lasso(alpha=0.001)

In [55]:
r1.coef_

array([ 0.        ,  0.01787993,  0.        , -0.        ,  0.        ,
        0.        , -0.        ,  0.        , -0.        ,  0.        ,
        0.        , -0.        , -0.        , -0.        ,  0.        ,
       -0.00011004, -0.        , -0.        ,  0.        , -0.        ,
       -0.04955749,  0.00291176,  0.        ,  0.        , -0.        ,
       -0.        ])

In [56]:
pred4 = r1.predict(X_test)

In [57]:
# Q.20

round(math.sqrt(mean_squared_error(y_test,pred4)),3)

0.094